body {
    margin: 10px;
}

header {
    background-color: #EB6864;
    color: white;
    padding: 15px;
}

header h1 {
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.bg-light {
    border: 2px solid #e04640;
}

main {
    height: 320px;
}

.mainPXC{
    height: 360px;
}

.mainPXP{
    height: 360px;
}

footer {
    text-align: center;
    border-top: solid 3px #EB6864;
    padding-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
}

#esquerda ul a{
    text-align: center;
}
#direita{
    margin-top: 20px;
}

#esquerda{
    text-align: center;
    margin-top: 20px;
}

/* PXP */

#vez{
    margin: auto;
    margin-top: 20px;
    width: 252px;
    height: 45px;
}

#vez>p{
    margin-right: 10px;
    float: left;
}

.espaco{
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
    padding-top: 15px;
}

.tabuleiro{
    height: 290px;
    width: 252px;
    text-align: center;
    margin: auto;
}

img{
    margin: auto;
    height: 50px;
    width: 50px;
    
}

#vez img{
    height: 30px;
    width: 30px;
}

#esquerdaPXP{
    text-align: center;
    margin-top: 50px;
}

#jogxjog{
    margin-top: 15px;
    border: 2px solid #EB6864;
    padding: 15px;
}

#jogxcpu{
    margin-top: 10px;
    border: 2px solid #EB6864;
    padding: 15px;
}

#mdj{
    margin-left: 20px;
    border: 2px solid #EB6864;
    padding: 10px;
}

#divirta{
    margin-top: 25px;
    margin-left: 20px;
}

#botaoPP{
    margin-top: -75px;
    margin-left: 185px;
}

/* AMBOS JOGOS */

#a1{
    border-right: 2px solid #EB6864;
    border-bottom: 2px solid #EB6864;
}

#a2{
    border-right: 2px solid #EB6864;
    border-bottom: 2px solid #EB6864;
}

#a3{
    border-bottom: 2px solid #EB6864;
}

#b1{
    border-right: 2px solid #EB6864;
    border-bottom: 2px solid #EB6864;
}

#b2{
    border-right: 2px solid #EB6864;
    border-bottom: 2px solid #EB6864;
}

#b3{
    border-bottom: 2px solid #EB6864;
}

#c1{
    border-right: 2px solid #EB6864;
    
}

#c2{
    border-right: 2px solid #EB6864;
    
}



/* PLAYER X CPU */

#pxcpu{
    margin-left: 100px;
    margin-top: 20px;
}

#jogo{
    width: 252px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#botao{
    margin-top: 10px;
    margin-left: 185px;
}

#vezPXC{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tabu{
        width: 80px;
        height: 80px;
        float: left;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
}

#esqPxC{
    text-align: center;
    margin-top: 50px;
}